.search-div
  width: 100%
  padding 12px 0
  text-align center
  display: inline-flex
  justify-content center
  form
    width 80%

.input-container
  display inline-flex
  width 100%


#searchInput
  width 90%
  padding 7px
  padding-left 40px
  border black
  &:focus
    outline none
    box-shadow 0 0 5px purple


#addSearchIcon
  relative top 7px left 30px


#refreshButton
  border-right none
  i
    position relative
    right 7px
    top 6px
    font-size 1.3em
