.search-div
  width: 100%
  padding 12px 0
  text-align center
  display: flex
  justify-content center
  form
    width 70%


#searchInput
  width 90%
  padding 7px
  padding-left 30px
  border black
  border-left none
  &:focus
    outline none
    box-shadow 0 0 5px purple


#addSearchIcon
  border black
  border-right none
  i
    position relative
    margin-left 20px
    top 5px
    left 5px

#refreshButton
  border-right none
  i
    position relative
    right 7px
    top 6px
    font-size 1.3em
