@import './variables'

#loading-div
  display: flex
  display: none
  align-items center
  height 160px
  background-color white

.loader
  margin 0 auto
  border 10px solid offlineColor
  border-radius 50%
  border-top 10px solid purple
  width 90px
  height 90px
  animation spin 1s linear infinite

@keyframes spin
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

.online-streams
  background-color hsla(0, 0%, 100%, 0.25)
  > div:first-child
    border-top black solid 1px

.online-stream, .offline-stream
  display flex
  flex-wrap no-wrap
  width 100%
  overflow hidden
  min-height 84px
  transition all .2s
  .streamer-status
    font-size .8em
    @media screen and (max-width 520px)
      display none

.stream-logo
  display flex
  max-width 100px
  img
    width 80px
    height 100%
    max-height 87px

.stream-basic-info
  display flex
  width 70%
  padding 15px
  padding-bottom 0
  p
    padding 0
  @media screen and (min-width 1199px)
    width 50%

.stream-banner
  border-radius 0px 0px 0px 100px
  display flex
  width 40%
  background-position center
  background-size: 130%
  opacity .5
  //transform: rotate(30deg)
  @media screen and (max-width 1200px)
    display none


.status
  padding 0
  margin 0
  font-size .8em

.offline-streams
  background-color offlineColor
  > div:first-child
    border-top black solid 1px
  a
    color typeOffline
  img
    opacity: .4
  .streams-placeholder
    display flex
    align-items center
    justify-content center
    height 80px
    color typeOffline
    font-size 1.5em
    font-weight 500
    i
      margin-right 30px
      font-size 2em
    &:hover
      cursor pointer

.online-light
  display inline-block
  height 10px
  width 10px
  background-color hsla(139, 100%, 49%, 1)
  border-radius 50%
  box-shadow 0 0 3px hsla(139, 100%, 49%, 1),0 0 10px hsla(139, 100%, 49%, 1)
  animation inex 4s infinite linear
  margin-right 5px
  margin-top 5px


@keyframes inex
  50%
    opacity 0.4
  60%
    opacity 1

.highlight
  color: hsla(203, 100%, 66%, 1)
  font-size: 1.2em

.streams-input-matches
  .offline-streams, .online-streams
    > div:first-child
      box-shadow inset 0px 0px 30px 0px #cc0000;

.hidden
  display none
  > div
    display none
