@import 'nib'
@import './variables'
normalize-html5()

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

*
  font-family fontFamily

body
  margin 0px
  width 100%
  height 100%
  background: linear-gradient(272deg, rgba(98,21,158,1) 0%, rgba(64,11,92,1) 100%)
  //background: linear-gradient(272deg, rgba(108,23,173,1) 0%, rgba(79,14,115,1) 100%);
  //background linear-gradient(259deg, rgba(146,24,186,1) 0%, rgba(99,15,117,1) 100%)
  color black
  font mainFont
  @media screen and (min-width 521px)
    margin-top 40px
    margin-bottom 50px

#twitch-logo
  display block
  margin 0 auto
  width 280px
  @media screen and (max-width 520px)
    display none

main
  margin 0 auto
  max-width 520px
  #tab-container
    display flex
  @media screen and (min-width 521px)
    border black
    border-top none
    box-shadow: 11px 11px 25px -8px rgba(0,0,0,0.45);
    margin-top: 30px
  @media screen and (min-width 1200px)
    max-width 800px

strong {
  font-weight: bold;
}

p {
  font-weight: normal;
  padding-bottom: 10px;
}

a, u {
  text-decoration: none;
  color: black
}
