medium = 960px
wide = 1200px

//colors
purple =                      #6441A4
lightPurple =                 #7D5BBE
brightGreen =                 hsla(139, 100%, 49%, 1)

backgroundColor = white
onlineColor = lighten(purple, 30)
offlineColor = #efeef1
typeDefault = black
typeOffline = #807b8b
navLeft = #17141f
navRight = #201c2b

fontFamily = 'Helvetica Neue', Helvetica, Arial, sans-serif

thin = 200
normal = 400
bold = 600
heavy = 800

headFont = normal, 1.5em/1.5em fontFamily
mainFont = normal, 1em/1.5em fontFamily
