article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(178deg, #62159e 0%, #400b5c 100%);
  background: -moz-linear-gradient(178deg, #62159e 0%, #400b5c 100%);
  background: -o-linear-gradient(178deg, #62159e 0%, #400b5c 100%);
  background: -ms-linear-gradient(178deg, #62159e 0%, #400b5c 100%);
  background: linear-gradient(272deg, #62159e 0%, #400b5c 100%);
  color: #000;
  font: 400, 0.666666666666667em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media screen and (min-width: 521px) {
  body {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
#twitch-logo {
  display: block;
  margin: 0 auto;
  width: 280px;
}
@media screen and (max-width: 520px) {
  #twitch-logo {
    display: none;
  }
}
main {
  margin: 0 auto;
  max-width: 520px;
}
main #tab-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media screen and (min-width: 521px) {
  main {
    border: 1px solid #000;
    border-top: none;
    -webkit-box-shadow: 11px 11px 25px -8px rgba(0,0,0,0.45);
    box-shadow: 11px 11px 25px -8px rgba(0,0,0,0.45);
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  main {
    max-width: 800px;
  }
}
strong {
  font-weight: 600;
}
p {
  font-weight: 400;
  padding-bottom: 10px;
}
a,
u {
  text-decoration: none;
  color: #000;
}
.search-div {
  background-color: #fff;
  width: 100%;
  padding: 12px 0;
  text-align: center;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-bottom: #000 solid 1;
}
.input-container {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  width: 80%;
}
#searchInput {
  width: 90%;
  padding: 7px;
  padding-left: 40px;
  border: 1px solid #000;
}
#searchInput:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px #6441a4;
  box-shadow: 0 0 5px #6441a4;
}
#addSearchIcon {
  position: relative;
  top: 7px;
  left: 30px;
}
#refreshButton {
  border-right: none;
}
#refreshButton i {
  position: relative;
  right: 7px;
  top: 6px;
  font-size: 1.3em;
}
#refreshButton:hover {
  cursor: pointer;
}
nav {
  padding: 0px;
  top: 0;
  width: 100%;
  background: -webkit-linear-gradient(left, #17141f, #37304a);
  background: -moz-linear-gradient(left, #17141f, #37304a);
  background: -o-linear-gradient(left, #17141f, #37304a);
  background: -ms-linear-gradient(left, #17141f, #37304a);
  background: linear-gradient(to right, #17141f, #37304a);
}
nav .nav-container {
  margin: 0 auto;
  width: 95%;
  max-width: 520px;
  height: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
nav .nav-container p {
  padding-bottom: 0px;
}
#addStreamInput {
  border: 1px solid #392e5c;
  background-color: rgba(255,255,255,0.23);
  padding: 5px;
  padding-left: 30px;
  color: #898395;
  width: 130px;
}
#addStreamInput:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px #6441a4;
  box-shadow: 0 0 5px #6441a4;
}
@media screen and (min-width: 350px) {
  #addStreamInput {
    width: 170px;
  }
}
#addStreamIcon {
  color: #898395;
  position: absolute;
  top: 5px;
  left: 5px;
}
#loading-div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  display: none;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 160px;
  background-color: #fff;
}
.loader {
  margin: 0 auto;
  border: 10px solid #efeef1;
  border-radius: 50%;
  border-top: 10px solid #6441a4;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.online-streams {
  background-color: rgba(255,255,255,0.25);
}
.online-streams > div:first-child {
  border-top: #000 solid 1px;
}
.online-stream,
.offline-stream {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  min-height: 84px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.online-stream .streamer-status,
.offline-stream .streamer-status {
  font-size: 0.8em;
}
@media screen and (max-width: 520px) {
  .online-stream .streamer-status,
  .offline-stream .streamer-status {
    display: none;
  }
}
.stream-logo {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  max-width: 100px;
}
.stream-logo img {
  width: 80px;
  height: 100%;
  max-height: 87px;
}
.stream-basic-info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 70%;
  padding: 15px;
  padding-bottom: 0;
}
.stream-basic-info p {
  padding: 0;
}
@media screen and (min-width: 1199px) {
  .stream-basic-info {
    width: 50%;
  }
}
.stream-banner {
  border-radius: 0px 0px 0px 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 40%;
  background-position: center;
  -webkit-background-size: 130%;
  -moz-background-size: 130%;
  background-size: 130%;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
@media screen and (max-width: 1200px) {
  .stream-banner {
    display: none;
  }
}
.status {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}
.offline-streams {
  background-color: #efeef1;
}
.offline-streams > div:first-child {
  border-top: #000 solid 1px;
}
.offline-streams a {
  color: #807b8b;
}
.offline-streams img {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.offline-streams .streams-placeholder {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 80px;
  color: #807b8b;
  font-size: 1.5em;
  font-weight: 500;
}
.offline-streams .streams-placeholder i {
  margin-right: 30px;
  font-size: 2em;
}
.offline-streams .streams-placeholder:hover {
  cursor: pointer;
}
.online-light {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #00fa4f;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px #00fa4f, 0 0 10px #00fa4f;
  box-shadow: 0 0 3px #00fa4f, 0 0 10px #00fa4f;
  -webkit-animation: inex 4s infinite linear;
  -moz-animation: inex 4s infinite linear;
  -o-animation: inex 4s infinite linear;
  -ms-animation: inex 4s infinite linear;
  animation: inex 4s infinite linear;
  margin-right: 5px;
  margin-top: 5px;
}
.highlight {
  color: #52bdff;
  font-size: 1.2em;
}
.streams-input-matches .offline-streams > div:first-child,
.streams-input-matches .online-streams > div:first-child {
  -webkit-box-shadow: inset 0px 0px 30px 0px #c00;
  box-shadow: inset 0px 0px 30px 0px #c00;
}
.hidden {
  display: none;
}
.hidden > div {
  display: none;
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes inex {
  50% {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes inex {
  50% {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes inex {
  50% {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes inex {
  50% {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
  }
  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
#tab-container {
  border-top: solid #000 1px;
}
#tab-container > div {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-right: #000 solid 1px;
}
#tab-container > div:last-child {
  border: none;
}
#tab-container:hover {
  cursor: pointer;
}
.tab-box {
  position: relative;
  width: 33.333%;
  background: #7d5bbe;
  text-align: center;
  padding: 10px 0px;
}
.arrow-box {
  position: relative;
  width: 33.333%;
  background: #6441a4;
  text-align: center;
  padding: 10px 0px;
}
.arrow-box:after,
.arrow-box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow-box:after {
  border-color: rgba(136,183,213,0);
  border-top-color: #6441a4;
  border-width: 10px;
  margin-left: -10px;
}
