article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000;
  font: 400, 0.666666666666667em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
main {
  margin: 0 auto;
  max-width: 520px;
}
main #tab-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media screen and (min-width: 521px) {
  main {
    border: 1px solid #000;
    border-top: none;
  }
}
strong {
  font-weight: 600;
}
p {
  font-weight: 400;
  padding-bottom: 10px;
}
a,
u {
  text-decoration: none;
  color: #000;
}
.search-div {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#searchInput {
  width: 70%;
  padding: 7px;
  padding-left: 30px;
  border: 1px solid #000;
  border-left: none;
}
#searchInput:focus {
  outline: none;
}
#addSearchIcon {
  border: 1px solid #000;
  border-right: none;
}
#addSearchIcon i {
  position: relative;
  margin-left: 20px;
  top: 5px;
}
#refreshButton {
  border-right: none;
}
#refreshButton i {
  position: relative;
  right: 7px;
  top: 6px;
  font-size: 1.3em;
}
nav {
  padding: 0px;
  top: 0;
  width: 100%;
  background: -webkit-linear-gradient(left, #17141f, #37304a);
  background: -moz-linear-gradient(left, #17141f, #37304a);
  background: -o-linear-gradient(left, #17141f, #37304a);
  background: -ms-linear-gradient(left, #17141f, #37304a);
  background: linear-gradient(to right, #17141f, #37304a);
}
nav .nav-container {
  margin: 0 auto;
  width: 95%;
  max-width: 520px;
  height: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
nav .nav-container p {
  padding-bottom: 0px;
}
#addStreamInput {
  border: 1px solid #392e5c;
  background-color: rgba(255,255,255,0.23);
  padding: 5px;
  padding-left: 30px;
  color: #898395;
  width: 130px;
}
#addStreamInput:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px #6441a4;
  box-shadow: 0 0 5px #6441a4;
}
@media screen and (min-width: 350px) {
  #addStreamInput {
    width: 170px;
  }
}
#addStreamIcon {
  color: #898395;
  position: absolute;
  top: 5px;
  left: 5px;
}
#tab-container > div {
  border-right: #000 solid 1px;
}
#tab-container > div:last-child {
  border: none;
}
#tab-container:hover {
  cursor: pointer;
}
.tab-box {
  position: relative;
  width: 33.333%;
  background: #7d5bbe;
  text-align: center;
  padding: 10px 0px;
}
.arrow-box {
  position: relative;
  width: 33.333%;
  background: #6441a4;
  text-align: center;
  padding: 10px 0px;
}
.arrow-box:after,
.arrow-box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow-box:after {
  border-color: rgba(136,183,213,0);
  border-top-color: #6441a4;
  border-width: 10px;
  margin-left: -10px;
}
