head {
  color: #f00;
  background-color: #fff;
  zoom: 1;
}
head:before,
head:after {
  content: "";
  display: table;
}
head:after {
  clear: both;
}
body {
  color: #ffa500;
  background: -webkit-linear-gradient(top, #fff, #000);
  background: -moz-linear-gradient(top, #fff, #000);
  background: -o-linear-gradient(top, #fff, #000);
  background: -ms-linear-gradient(top, #fff, #000);
  background: linear-gradient(to bottom, #fff, #000);
}
